<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhwy.quartet.pay.organization.dao.impl.OrgFeeRateDaoImpl">
	<resultMap id="BaseResultMap"
		type="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		<result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
	    <result column="PAY_CHANNEL_TYPE" property="payChannelType" jdbcType="DECIMAL" />
	    <result column="FEE_RATE" property="feeRate" jdbcType="DECIMAL" />
	    <result column="PAY_FEE" property="payFee" jdbcType="DECIMAL" />
	    <result column="FD_MAX_FEE" property="fdMaxFee" jdbcType="DECIMAL" />
	    <result column="FD_MIN_FEE" property="fdMinFee" jdbcType="DECIMAL" />
	    <result column="DEBIT_FEE_RATE" property="debitFeeRate" jdbcType="DECIMAL" />
	    <result column="DEBIT_FD_MAX_FEE" property="debitFdMaxFee" jdbcType="DECIMAL" />
	    <result column="DEBIT_FD_MIN_FEE" property="debitFdMinFee" jdbcType="DECIMAL" />
	    <result column="D0_FJ_RATE" property="d0FjRate" jdbcType="DECIMAL" />
	    <result column="D0_FJ_FEE" property="d0FjFee" jdbcType="DECIMAL" />
	    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="EDITOR_USER" property="editorUser" jdbcType="VARCHAR" />
	    <result column="EDIT_TIME" property="editTime" jdbcType="TIMESTAMP" />
	    <result column="STATUS" property="status" jdbcType="DECIMAL" />
	    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="feeRateResultMap" type="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		<result column="FEE_RATE" property="feeRate" jdbcType="DECIMAL" />
	    <result column="PAY_FEE" property="payFee" jdbcType="DECIMAL" />
	    <result column="FD_MAX_FEE" property="fdMaxFee" jdbcType="DECIMAL" />
	    <result column="FD_MIN_FEE" property="fdMinFee" jdbcType="DECIMAL" />
	    <result column="DEBIT_FEE_RATE" property="debitFeeRate" jdbcType="DECIMAL" />
	    <result column="DEBIT_FD_MAX_FEE" property="debitFdMaxFee" jdbcType="DECIMAL" />
	    <result column="DEBIT_FD_MIN_FEE" property="debitFdMinFee" jdbcType="DECIMAL" />
	    <result column="D0_FJ_RATE" property="d0FjRate" jdbcType="DECIMAL" />
	    <result column="D0_FJ_FEE" property="d0FjFee" jdbcType="DECIMAL" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ORG_ID, PAY_CHANNEL_TYPE, FEE_RATE, PAY_FEE, FD_MAX_FEE,
		FD_MIN_FEE, DEBIT_FEE_RATE, DEBIT_FD_MAX_FEE, DEBIT_FD_MIN_FEE, D0_FJ_RATE,
		D0_FJ_FEE, CREATE_USER, CREATE_TIME, EDITOR_USER, EDIT_TIME,
		STATUS, REMARK
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM ORG_FEERATE
		WHERE ORG_ID = #{orgId,jdbcType=DECIMAL}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		DELETE FROM
		ORG_FEERATE
		WHERE ORG_ID = #{orgId,jdbcType=DECIMAL}
	</delete>
	
	<insert id="insert"
		parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		insert into ORG_FEERATE
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="orgId != null" >
	        ORG_ID,
	      </if>
	      <if test="payChannelType != null" >
	        PAY_CHANNEL_TYPE,
	      </if>
	      <if test="feeRate != null" >
	        FEE_RATE,
	      </if>
	      <if test="payFee != null" >
	        PAY_FEE,
	      </if>
	      <if test="fdMaxFee != null" >
	        FD_MAX_FEE,
	      </if>
	      <if test="fdMinFee != null" >
	        FD_MIN_FEE,
	      </if>
	      <if test="debitFeeRate != null" >
	        DEBIT_FEE_RATE,
	      </if>
	      <if test="debitFdMaxFee != null" >
	        DEBIT_FD_MAX_FEE,
	      </if>
	      <if test="debitFdMinFee != null" >
	        DEBIT_FD_MIN_FEE,
	      </if>
	      <if test="d0FjRate != null" >
	        D0_FJ_RATE,
	      </if>
	      <if test="d0FjFee != null" >
	        D0_FJ_FEE,
	      </if>
	      <if test="createUser != null and createUser != ''" >
	        CREATE_USER,
	      </if>
	      <if test="createTime != null" >
	        CREATE_TIME,
	      </if>
	      <if test="editorUser != null and editorUser != ''" >
	        EDITOR_USER,
	      </if>
	      <if test="editTime != null" >
	        EDIT_TIME,
	      </if>
	      <if test="status != null" >
	        STATUS,
	      </if>
	      <if test="remark != null and remark != ''" >
	        REMARK,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="orgId != null" >
	        #{orgId,jdbcType=DECIMAL},
	      </if>
	      <if test="payChannelType != null" >
	        #{payChannelType,jdbcType=DECIMAL},
	      </if>
	      <if test="feeRate != null" >
	        #{feeRate,jdbcType=DECIMAL},
	      </if>
	      <if test="payFee != null" >
	        #{payFee,jdbcType=DECIMAL},
	      </if>
	      <if test="fdMaxFee != null" >
	        #{fdMaxFee,jdbcType=DECIMAL},
	      </if>
	      <if test="fdMinFee != null" >
	        #{fdMinFee,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFeeRate != null" >
	        #{debitFeeRate,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFdMaxFee != null" >
	        #{debitFdMaxFee,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFdMinFee != null" >
	        #{debitFdMinFee,jdbcType=DECIMAL},
	      </if>
	      <if test="d0FjRate != null" >
	        #{d0FjRate,jdbcType=DECIMAL},
	      </if>
	      <if test="d0FjFee != null" >
	        #{d0FjFee,jdbcType=DECIMAL},
	      </if>
	      <if test="createUser != null and createUser != ''" >
	        #{createUser,jdbcType=VARCHAR},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="editorUser != null and editorUser != ''" >
	        #{editorUser,jdbcType=VARCHAR},
	      </if>
	      <if test="editTime != null" >
	        #{editTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="status != null" >
	        #{status,jdbcType=DECIMAL},
	      </if>
	      <if test="remark != null and remark != ''" >
	        #{remark,jdbcType=VARCHAR},
	      </if>
	     </trim>
	</insert>
	
	<insert id="insertSelective"
		parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		insert into ORG_FEERATE
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="orgId != null" >
	        ORG_ID,
	      </if>
	      <if test="payChannelType != null" >
	        PAY_CHANNEL_TYPE,
	      </if>
	      <if test="feeRate != null" >
	        FEE_RATE,
	      </if>
	      <if test="payFee != null" >
	        PAY_FEE,
	      </if>
	      <if test="fdMaxFee != null" >
	        FD_MAX_FEE,
	      </if>
	      <if test="fdMinFee != null" >
	        FD_MIN_FEE,
	      </if>
	      <if test="debitFeeRate != null" >
	        DEBIT_FEE_RATE,
	      </if>
	      <if test="debitFdMaxFee != null" >
	        DEBIT_FD_MAX_FEE,
	      </if>
	      <if test="debitFdMinFee != null" >
	        DEBIT_FD_MIN_FEE,
	      </if>
	      <if test="d0FjRate != null" >
	        D0_FJ_RATE,
	      </if>
	      <if test="d0FjFee != null" >
	        D0_FJ_FEE,
	      </if>
	      <if test="createUser != null and createUser != ''" >
	        CREATE_USER,
	      </if>
	      <if test="createTime != null" >
	        CREATE_TIME,
	      </if>
	      <if test="editorUser != null and editorUser != ''" >
	        EDITOR_USER,
	      </if>
	      <if test="editTime != null" >
	        EDIT_TIME,
	      </if>
	      <if test="status != null" >
	        STATUS,
	      </if>
	      <if test="remark != null and remark != ''" >
	        REMARK,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="orgId != null" >
	        #{orgId,jdbcType=DECIMAL},
	      </if>
	      <if test="payChannelType != null" >
	        #{payChannelType,jdbcType=DECIMAL},
	      </if>
	      <if test="feeRate != null" >
	        #{feeRate,jdbcType=DECIMAL},
	      </if>
	      <if test="payFee != null" >
	        #{payFee,jdbcType=DECIMAL},
	      </if>
	      <if test="fdMaxFee != null" >
	        #{fdMaxFee,jdbcType=DECIMAL},
	      </if>
	      <if test="fdMinFee != null" >
	        #{fdMinFee,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFeeRate != null" >
	        #{debitFeeRate,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFdMaxFee != null" >
	        #{debitFdMaxFee,jdbcType=DECIMAL},
	      </if>
	      <if test="debitFdMinFee != null" >
	        #{debitFdMinFee,jdbcType=DECIMAL},
	      </if>
	      <if test="d0FjRate != null" >
	        #{d0FjRate,jdbcType=DECIMAL},
	      </if>
	      <if test="d0FjFee != null" >
	        #{d0FjFee,jdbcType=DECIMAL},
	      </if>
	      <if test="createUser != null and createUser != ''" >
	        #{createUser,jdbcType=VARCHAR},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="editorUser != null and editorUser != ''" >
	        #{editorUser,jdbcType=VARCHAR},
	      </if>
	      <if test="editTime != null" >
	        #{editTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="status != null" >
	        #{status,jdbcType=DECIMAL},
	      </if>
	      <if test="remark != null and remark != ''" >
	        #{remark,jdbcType=VARCHAR},
	      </if>
	    </trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective"
		parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		UPDATE ORG_FEERATE
		<set>
			<if test="payChannelType != null">
				PAY_CHANNEL_TYPE = #{payChannelType,jdbcType=DECIMAL},
			</if>
			<if test="feeRate != null">
				FEE_RATE = #{feeRate,jdbcType=DECIMAL},
			</if>
			<if test="payFee != null">
				PAY_FEE = #{payFee,jdbcType=DECIMAL},
			</if>
			<if test="fdMaxFee != null">
				FD_MAX_FEE = #{fdMaxFee,jdbcType=DECIMAL},
			</if>
			<if test="fdMinFee != null">
				FD_MIN_FEE = #{fdMinFee,jdbcType=DECIMAL},
			</if>
			<if test="debitFeeRate != null">
				DEBIT_FEE_RATE = #{debitFeeRate,jdbcType=DECIMAL},
			</if>
			<if test="debitFdMaxFee != null">
				DEBIT_FD_MAX_FEE = #{debitFdMaxFee,jdbcType=DECIMAL},
			</if>
			<if test="debitFdMinFee != null">
				DEBIT_FD_MIN_FEE = #{debitFdMinFee,jdbcType=DECIMAL},
			</if>
			<if test="d0FjRate != null">
				D0_FJ_RATE = #{d0FjRate,jdbcType=DECIMAL},
			</if>
			<if test="d0FjFee != null">
				D0_FJ_FEE = #{d0FjFee,jdbcType=DECIMAL},
			</if>
			<if test="createUser != null and createUser != ''">
				create_User = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editorUser != null and editorUser != ''">
				EDITOR_USER = #{editorUser,jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="remark != null and remark != ''">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ORG_ID = #{orgId,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		UPDATE ORG_FEERATE
		<set>
			<if test="payChannelType != null">
				PAY_CHANNEL_TYPE = #{payChannelType,jdbcType=DECIMAL},
			</if>
			<if test="feeRate != null">
				FEE_RATE = #{feeRate,jdbcType=DECIMAL},
			</if>
			<if test="payFee != null">
				PAY_FEE = #{payFee,jdbcType=DECIMAL},
			</if>
			<if test="fdMaxFee != null">
				FD_MAX_FEE = #{fdMaxFee,jdbcType=DECIMAL},
			</if>
			<if test="fdMinFee != null">
				FD_MIN_FEE = #{fdMinFee,jdbcType=DECIMAL},
			</if>
			<if test="debitFeeRate != null">
				DEBIT_FEE_RATE = #{debitFeeRate,jdbcType=DECIMAL},
			</if>
			<if test="debitFdMaxFee != null">
				DEBIT_FD_MAX_FEE = #{debitFdMaxFee,jdbcType=DECIMAL},
			</if>
			<if test="debitFdMinFee != null">
				DEBIT_FD_MIN_FEE = #{debitFdMinFee,jdbcType=DECIMAL},
			</if>
			<if test="d0FjRate != null">
				D0_FJ_RATE = #{d0FjRate,jdbcType=DECIMAL},
			</if>
			<if test="d0FjFee != null">
				D0_FJ_FEE = #{d0FjFee,jdbcType=DECIMAL},
			</if>
			<if test="createUser != null and createUser != ''">
				create_User = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editorUser != null and editorUser != ''">
				EDITOR_USER = #{editorUser,jdbcType=VARCHAR},
			</if>
			<if test="editTime != null">
				EDIT_TIME = #{editTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="remark != null and remark != ''">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
	    WHERE ORG_ID = #{orgId,jdbcType=DECIMAL}
	</update>
	
	<!-- 查询列表 -->
	<select id="searchEntityList" resultMap="BaseResultMap" parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		SELECT
		<include refid="Base_Column_List" />
		FROM ORG_FEERATE
		<where>
			<include refid="condition_sql"></include>
		</where>
	</select>
	
	<!-- 查询单个 -->
	<select id="searchEntity" resultMap="BaseResultMap" parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
		SELECT
		<include refid="Base_Column_List" />
		FROM ORG_FEERATE
		<where>
			<include refid="condition_sql"></include>
		</where>
	</select>
	
	<!-- 查询单个entity -->
  	<select id="listByColumn" resultMap="BaseResultMap" parameterType="com.qhwy.quartet.pay.organization.entity.OrgFeeRate">
	  	SELECT
		<include refid="Base_Column_List" />
		FROM ORG_FEERATE
		<where>
			<include refid="condition_sql"></include>
		</where>
 	</select>
	
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1)
		from ORG_FEERATE
		<where>
			<include refid="condition_sql"></include>
		</where>
	</select>
	
	<select id="listPage" parameterType="java.util.Map"	resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"></include>
		from ORG_FEERATE
		<where>
			<include refid="condition_sql"></include>
		</where>
		ORDER BY ORG_ID ASC
	</select>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="orgId != null">
			AND ORG_ID = #{orgId,jdbcType=DECIMAL}
		</if>
		<if test="payChannelType != null">
			AND PAY_CHANNEL_TYPE = #{payChannelType,jdbcType=DECIMAL}
		</if>
		<if test="status != null">
			AND STATUS = #{status,jdbcType=DECIMAL}
		</if>
	</sql>
	
	<!--  查询子级费率  -->
	<select id="getSonOrgMinFeeRates" parameterType="java.util.Map"	resultMap="feeRateResultMap">
		SELECT MIN(FEE_RATE) AS FEE_RATE,
			MIN(PAY_FEE) AS PAY_FEE,
			MIN(FD_MAX_FEE) AS FD_MAX_FEE,
			MIN(FD_MIN_FEE) AS FD_MIN_FEE,
			MIN(DEBIT_FEE_RATE) AS DEBIT_FEE_RATE,
			MIN(DEBIT_FD_MAX_FEE) AS DEBIT_FD_MAX_FEE,
			MIN(DEBIT_FD_MIN_FEE) AS DEBIT_FD_MIN_FEE,
			MIN(D0_FJ_RATE) AS D0_FJ_RATE,
			MIN(D0_FJ_FEE) AS D0_FJ_FEE
		FROM ORG_FEERATE
		WHERE ORG_ID IN ('${orgIds}')
		AND PAY_CHANNEL_TYPE = #{payChannelType}
	</select>
</mapper>